// Theme colors
// https://color.adobe.com/Copia-de-Avocado-Neon-color-theme-10984982
$red: #8C2131;
$green: #053138;
$blue: #0C2733;
$blackish: #1C1A21;
$whiteish: #FFFCF0;

// Logos
$facebook-blue: #3B5998;
$insta-violet: #bc2a8d;
$github-gray: #333333;
$linkedin-blue: #0077B5;
$gmail-red: #db493a;

// monochromatic
$white: #fff;
$black: #000;

$grey: #969696;
$grey-dark: darken($grey, 5%);
$grey-light: lighten($grey, 25%);
$grey-super-dark: darken($grey, 20%);
$grey-super-light: lighten($grey, 33%);
